<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="Your Application">
					<Component Id="MyComponent" Guid="8B61B2A0-5973-4063-837C-FD3394DD8A48" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf"/>						
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
